# FTB Quests Lang Splitter
# ignore original lang files like en_us.snbt
config/ftbquests/quests/lang/*.snbt

# ignore recovery files
config/ftbquests/quests/lang/recovery/*.snbt

# ignore already merged files
config/ftbquests/quests/lang/**/*.snbt_merged

kubejs/config/probe-settings.json


# 100 MB limit mods: https://github.com/Kisuny/MI-Lost-Favor/blob/main/additional_mods.md
# mods/L_Ender's Cataclysm 1.21.1-3.16.jar

